@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

    *{
        font-family: 'Poppins', sans-serif;
        margin:0;
    }
    h1{
        color: white;
        font-size: 2.5em;
    }
    h1.header{
        text-align:center;
        margin:auto;
        color: #8c6969;
    }
    h2{
        color: white;
        font-size:1.38em;
        font-weight: 500;
    }
    h3{
        color: #987778;
        font-size:1.4em;
        font-weight: 500;
    }
    h4{
        color: #987778;
        font-size:1.1em;
        font-weight: 500;
        letter-spacing: 1px;
    }
    h5{
        color: white;
        font-size:1.1em;
        font-weight: 500;
        margin: auto 0 auto 0.7em;
    }
    p{
        color:#8c6969;
        font-weight: 400;
        font-size:0.9em;
        margin:0;
        text-align:left;
        line-height:1.4em;
    }
    p.white{
        color:white;
    }
    /* SCROLL */
    html{
        scroll-behavior: smooth;
    }
    div.general{
        overflow: scroll;
        height: 100vh;
    }
    div.container{
        scroll-snap-align: start;
    } 
    div.general::-webkit-scrollbar {
        display: none;
    }  
    /* CONTAINERS */
    div.height{
        height:100vh;
    }
    div.container{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    /* NEXT PAGE */
    div.nextPage{
        margin:auto;
    }
    div.nextPage > a > i {
        font-size: 3em;
        color: #8c6969;
        margin:auto;
        opacity:0.6;
    }
    /*............. APARTATS.............*/
    body{
        background:linear-gradient(280deg, rgba(255, 197, 50, 0.749) 0%, rgba(255, 180, 172, 0.714) 79%, rgba(254,177,185,1) 100%);
    }
    /* PRESENTACIÓ */
    #presentation > div.main{
        margin: 13% auto 10% auto;
    }
    div.main > div.flexRow{
        display:flex;
        justify-content:space-between;
        width:700px;
    }
    div.flexC{
        display:flex;
        flex-direction:column;
        vertical-align:bottom;
    }
    #photo{
        width:230px;
        height:230px;
        border-radius:50%;
        text-align:center;
        box-shadow: 0 8px 32px 0 #8c69695e;
    }
    div.flexC > h1{
        margin: 1% 0;
        text-align:left;
        line-height:1.3em;
        width:440px;
    }
    h1.animate__animated{
        font-style:italic;
    }
    h1.brown{
        color:#8c6969;
    }
    div.contact{
        margin:7% auto auto auto;
        text-align:center; 
        padding:1.5rem 1.5rem 0 1.5rem;
        border-top: 1px solid #98777867;
    }
    div.contact > h4{
        letter-spacing: 2px;
        color:#987778;
    }
    div.container > div > div.contact > div.icons{
        text-align:Center;
        margin: 2.5% 0 0 0;
    }
    i.presentation{
        font-size:2em;
        color: #987778;
    }
    #presentation > div.nextPage{
        margin:0 auto 7% auto;
    }

    /* WORK */
    #work > h1.header{
        margin-top:1em;
    }
    div.projects{
        display:flex;
        justify-content:center;
        vertical-align:center;
        margin:auto;
        flex-wrap:wrap;
        margin:1% auto 2% auto; 
    }
    a{
        text-decoration:none;
    }
    div.project{
        margin:1% 1rem;;
        width:342px;
        border-radius:10px;
    }
    div.project:hover{
        box-shadow: 0 8px 32px 0 #8c69698f;
        transition:0.5s;
    }
    div.bgBrown{
        background: #8c6969;
        padding:1rem;
        border-radius: 10px 10px 0px 0px;
        display:flex;
        justify-content: space-between;
    }
    div.bgWhite{
        background: rgba(255, 255, 255, 0.411);
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur(4.5px);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 0px 0px 10px 10px; 
    }
    div.project > div.bgWhite{
        height:405px;
    }
    img.projectImg{
        width:340px;
        height:190px;
    }
    i.work{
        font-size:2.5em;
        color:#8c6969;
    }
    p.padding{
        padding:1rem;
    }
    p.icons {
        font-size: 1.5rem;
        padding: 1rem;
        display:flex;
        justify-content:space-evenly;
        border-top: 1px solid #8c69691c;
    }
    div.projectImg{
        width:340px;
        height:190px;
    }
    img.projectImg{
        
    }
    div.ocult{
        opacity:0;
        position:absolute;
        width:340px;
        height:190px;
        text-align: center;
        background-color: #8c696973;
    }
    p.goIcons{
        text-align: center;
        margin:auto;
        margin-top:3.8rem;
        display:flex;
        justify-content:space-around;
        width:100px;
        background-color:white;
        padding: 1rem 0.5rem;
        border-radius: 10px;
    }
    p.goIcons:hover{
        opacity:0.9;
    }
    .tocar:hover .ocult{
        z-index: 1;
        transition-duration:0.6s;
        opacity:1;
    }

    /* JOURNEY */
    #journey > div.flexRow{
        display:flex;
        justify-content:center;
    }
    div.period{
        display:flex;
        flex-direction:column;
        margin:auto 0.5%;
        width:320px;
    }
    div.period > div.bgWhite{
        padding:1rem;
        height:340px;
        box-shadow: 0 8px 32px 0 #8c69695e;
    }
    div.period >div.bgBrown{
        justify-content: flex-start;
    }
    p.bold{
        font-weight:bold;
    }
    p.marginB{
        margin-bottom:0.55rem;
    }
    div.period > div.bgBrown > img{
        width:35px;
        height:35px;
        opacity:0.7;
    }
    #feb > .bgBrown {
        background-color:#8c696993;
    }
    #nov > .bgBrown {
        background-color:#8c6969c4;
    }
    #future >.bgBrown {
        background-color:#795757;
    }
    #feb > .bgWhite {
        /* background: rgba(255, 255, 255, 0.194); */
    }
    #nov > .bgWhite {
        /* background: rgba(255, 255, 255, 0.29); */
    }
    #future > .bgWhite {
        /* background: rgba(255, 255, 255, 0.488); */
    }   
    span.highlight {
        background-color:#e7ffffbd;
        /* background-color:#fffaf3; */
        font-weight:500;
        /*font-size:1.1em;*/
    }

    /* CONTACT */
    div.marginAuto{
        margin:auto;
    }
    div.marginAuto > div{
        text-align:center;
        margin:3rem auto;
    }
    div.icons {
        letter-spacing: 10px;
        margin:0.8rem 0;
    }
    i.footer{
        color:#987778;
        font-size:2.5em;
    }
    i.footer:hover{
        color:white;
    }
    i.presentation:hover{
        color:white;
    }
    footer{
        font-size:0.7em;
        margin:1% auto;
    }
    
    @media only screen and (max-width: 1150px) {
        div.period > div.bgWhite{
            height:400px;
        }

    }
    @media only screen and (max-width: 992px) {
        html{
            scroll-behavior: initial;
        }
        div.general{
            scroll-snap-type: initial;
            overflow: initial;
            height: initial;
        }
        div.container{
            scroll-snap-align: initial;
            height:initial;
        } 
        div.nextPage{
            display:none;
        }
        #presentation > div.main{
            margin: 19% auto 29% auto;
        }
        div.contact{
            /* border-bottom: 1px solid #98777867; */
        }
        #work{
            margin:0% auto 15% auto;
        }
        div.project{
            margin:1.5% 1rem;
        }
        #periods{
            flex-wrap:wrap;
            margin:auto;
            margin:1% auto 5% auto;
        }
        div.period{
            margin:1.5% 5%;
            width:550px;
        }
        div.period > div.bgWhite{
            height:max-content;
        }
        #contact{
            margin:5% auto 0.5% auto;
        } 
        div.contact{
            margin:5% auto auto auto;
        }
    }
    @media only screen and (max-width: 768px) {
        #presentation{
            padding:0 1.5rem;
        }
        #presentation > div.main{
            margin: 13% auto 20% auto;
        }
        div.main > div.flexRow{
            flex-direction:column;
            width:unset;
        }
        div.flexC{
            margin-top:4%;
        }
        #photo{
            margin:auto;
        }
        div.flexC > h1{
            text-align:center;
            margin:auto;
            width:unset;
        }
        div.project{
            margin:2% 1rem;
        }
        div.period{
            width:unset;
        }
        div.period > div.bgWhite{
            height:max-content;
        }
        div.contact{
            margin:4% auto auto auto;
        }

        
    }
    @media only screen and (max-width: 600px) {
        #presentation{
            padding:0 1rem;
        }
        #presentation > div.main{
            margin: 14% auto 15% auto;
        }
        div.container > div > div.contact > div.icons{
            margin: 3% 0 0 0;
        }
        div.project{
            margin:3% 1rem;
        }
        img.projectImg{
            width:100%;
            height:190px;
        }
        div.ocult{
            width:100%;
            height:190px;
        }
        #contact{
            padding:1rem;
        } 
    }
    @media only screen and (max-width: 390px) {
        h1{
            font-size: 2em;
        }
        h2{
            font-size:1.3em;
        }
        h3{
            font-size:1.1em;
        }
        h4{
            font-size:1em;
        }
        #presentation > div.main{
            margin: 16% auto 12% auto;
        }
        div.flexC > h1{
            margin: 1% 0%;
        }
        div.contact{
            padding:1rem;
        }
        div.contact >h4 {
            letter-spacing:1px;
        }
        div.project{
            width:unset;
        }
        div.project > div.bgWhite{
            height:max-content;
        }
        img.projectImg{
            width:100%;
            height:170px;
        }
        div.ocult{
            width:100%;
            height:170px;
        }
        p.goIcons{
            margin-top:3.5em;
        }
        div.marginAuto > div{
            width:250px;
        }
        i.footer{
            font-size:2.5em;
        }

    }
   

/*Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {} */
