@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

/********** MOBILE FIRST **********/

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) { */
    *{
        font-family: 'Poppins', sans-serif;
        margin:0;
    }
    h1{
        color: white;
        font-size: 2.5em;
    }
    h1.header{
        text-align:center;
        margin:auto;
        color: #8c6969;
    }
    h2{
        color: white;
        font-size:1.5em;
        font-weight: 500;
    }
    h3{
        color: #8c6969;
        font-size:1.4em;
        font-weight: 500;
    }
    h4{
        color: #8c6969;
        font-size:1.1em;
        font-weight: 500;
    }
    p{
        color:#8c6969;
        font-weight: 400;
        font-size:0.9em;
        margin:0;
        text-align:left;
        line-height:1.4em;
    }
    /* SCROLL */
    html{
        scroll-behavior: smooth;
    }
    div.general{
        scroll-snap-type: y proximity;
        overflow: scroll;
        height: 100vh;
    }
    div.container{
        scroll-snap-align: start;
    } 
    div.general::-webkit-scrollbar {
        display: none;
    }  
    /* CONTAINERS */
    div.container{
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    /* NEXT PAGE */
    div.nextPage{
        margin:auto;
    }
    div.nextPage > a > i {
        font-size: 3em;
        color: #8c6969;
        margin:auto;
        opacity:0.6;
    }
    /*............. APARTATS.............*/
    body{
        background:linear-gradient(280deg, rgba(255, 197, 50, 0.749) 0%, rgba(255, 180, 172, 0.714) 79%, rgba(254,177,185,1) 100%);
    }
    /* PRESENTACIÓ */
    #presentation > div{
        margin:auto;
    }
    div.flexRow{
        display:flex;
        justify-content:center;
    }
    div.flexC{
        display:flex;
        flex-direction:column;
        margin:auto;
        vertical-align:bottom;
        padding-left:7%;
    }
    #photo{
        width:230px;
        height:230px;
        border-radius:50%;
        text-align:center;
    }
    div.flexC > h1{
        margin: 1% 0;
        text-align:left;
        line-height:1.3em;
        width:404px;
    }
    h1.animate__animated{
        font-style:italic;
    }
    h1.brown{
        color:#8c6969;
    }
    div.contact{
        margin:7% auto auto auto;
        text-align:center; 
    }
    div.contact > h4{
        letter-spacing: 2px;
        border-top: 1px solid #8c696944;
        padding:0.7rem;
    }
    div.container > div > div.contact > div.icons{
        text-align:Center;
        font-size:0.7em;
        margin:0;
    }

    /* WORK */
    div.projects{
        display:flex;
        justify-content:center;
        vertical-align:center;
        margin:auto;
    }
    a{
        text-decoration:none;
    }
    div.project{
        margin:0 2rem;
        width:342px;
        border-radius:10px;
    }
    div.project:hover{
        box-shadow: 0 8px 32px 0 #8c6969b4;
    }
    div.bgBrown{
        background: #8c6969;
        padding:1rem;
        border-radius: 10px 10px 0px 0px;
    }
    div.bgWhite{
        background: rgba(255, 255, 255, 0.411);
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 0px 0px 10px 10px;
    }
    #HourglassImg{
        width:341px;
        height:190px;
    }
    p.padding{
        padding:1rem;
    }
    p.icons {
        font-size: 1.5rem;
        padding: 1rem;
        display:flex;
        justify-content:space-between;
        border-top: 1px solid #8c69691c;
    }

    /* JOURNEY */
    div.period{
        display:flex;
        flex-direction:column;
        margin:auto 1%;
        width:305px;
    }
    div.period > div.bgBrown{
       display:flex;
       justify-content: space-between;
    }
    div.period > div.bgWhite{
        padding:1rem;
        height:300px;
    }
    p.bold{
        margin:0 0 0.7rem 0;
        font-weight: bold;
    }
    p.marginB{
        margin-bottom:0.55rem;
    }
    div.period > div.bgBrown > img{
        width:35px;
        height:35px;
        opacity:0.9;
    }

    /* CONTACT */
    div.marginAuto{
        margin:auto;
    }
    div.marginAuto > div{
        text-align:center;
        margin:2rem auto;
    }
    div.icons {
        letter-spacing: 10px;
        margin:0.8rem 0;
    }
    i.footer{
        color:#8c6969;
    }
    i.footer:hover{
        color:white;
    }
    i.fa-linkedin-in {
        font-size:2.5em;
    }
    i.fa-envelope{
        font-size:2.8em;
    }
    i.fa-github{
        font-size:2.8em;
    }
    footer{
        text-align:left;
        font-size:0.7em;
        margin:1% auto;
    }

/*Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {} */
